.accepted-favors-header {
  display: flex;
  align-items: flex-end;
  margin-top: 50px;
}

.accepted-favors-header h1 {
  display: inline-block;
  font-size: 4em;
  flex-grow: 1;
  margin: 0;
}

.accepted-favors-header-hr {
  margin-bottom: 25px;
}

.accepted-favors-list-loading {
  display: flex;
  justify-content: center;
}
