/* Custom Stylesheet */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  margin-bottom: 30px;
}

main a {
  text-decoration: underline;
  color: #107aad;
}

a.link {
  text-decoration: underline;
}

a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
  background: white;
  color: #107aad;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: auto;
  margin: 10px;
  padding: 5px;
  font-size: 1.4em;
  z-index: 999;
}

.footer-copyright {
  color: white !important;
}

.btn:focus,
.btn-large:focus {
  outline: 2px dotted;
}

.btn.red:focus,
.btn-large.red:focus {
  outline-color: black;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.hidden {
  display: none !important;
}

.avatar-img {
  width: 200px !important;
  height: 200px !important;
}

.blur {
  filter: blur(8px);
}

.social-img {
  display: inline-flex;
  align-items: center;
  color: white;
  margin-bottom: 10px;
}

.social-img img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.advrt-user-info {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.advrt-user-info-avatar {
  height: 65px;
  width: 65px;
  margin-right: 15px;
  border-radius: 50%;
}

.advrt-user-info-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  min-width: 170px;
}

.advrt-user-info-data span:nth-child(3) {
  color: #6e6e6e;
  font-size: 0.9em;
}

.advrt-group {
  display: flex;
  align-items: flex-start;
}

.advrt-content {
  display: flex;
}

.advrt-buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.feedback-loading {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.select-icon {
  left: 10px;
}

@media only screen and (max-width: 600px) {
  .advrt-group {
    margin-left: 80px;
  }
}

@media only screen and (max-width: 353px) {
  .advrt-group {
    margin-left: 0;
  }
}
