.trust-groups-header {
  display: flex;
  align-items: flex-end;
  margin-top: 50px;
}

.trust-groups-header h1 {
  display: inline-block;
  font-size: 4em;
  flex-grow: 1;
  margin: 0;
}

.trust-groups-header-hr {
  margin-bottom: 25px;
}
