/* label color */
.input-field label {
  color: #000 !important;
}

.input-field textarea,
.input-field input {
  border-bottom: 1px solid #000 !important;
}

/* label focus color */
.input-field textarea:focus + label,
.input-field input:focus + label {
  color: #000 !important;
}

/* label underline focus color */
.input-field textarea:focus,
.input-field input:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

/* valid color */
.input-field textarea.valid,
.input-field input.valid {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

/* invalid color */
.input-field textarea.invalid,
.input-field input.invalid {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000 !important;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: #000 !important;
}

.new-advrt-header {
  display: flex;
  align-items: flex-end;
  margin-top: 50px;
}

.new-advrt-header h1 {
  display: inline-block;
  font-size: 4em;
  flex-grow: 1;
  margin: 0;
}

.new-advrt-header-hr {
  margin-bottom: 25px;
}
