/* label color */
.input-field label {
  color: #000 !important;
}

.input-field textarea,
.input-field input {
  border-bottom: 1px solid #000 !important;
}

/* label focus color */
.input-field textarea:focus + label,
.input-field input:focus + label {
  color: #000 !important;
}

/* label underline focus color */
.input-field textarea:focus,
.input-field input:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

/* valid color */
.input-field textarea.valid,
.input-field input.valid {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

/* invalid color */
.input-field textarea.invalid,
.input-field input.invalid {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000 !important;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: #000 !important;
}

.profile-header {
  display: flex;
  align-items: flex-end;
  margin-top: 50px;
}

.profile-header h1 {
  display: inline-block;
  font-size: 4em;
  flex-grow: 1;
  margin: 0;
}

.profile-header-hr {
  margin-bottom: 25px;
}

.profile-image {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-name {
  display: flex;
  justify-content: center;
  font-size: 2.2em;
  margin-bottom: 40px;
}

.profile-name p {
  margin: 0;
}

.profile-loading {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.profile-section-header {
  display: inline-block;
  margin-bottom: 15px;
}

.profile-section-header h2 {
  font-size: 2.5em;
  margin: 0;
}

.profile-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-section-content p {
  margin: 0;
}

.social-credit-card {
  max-width: 150px;
  font-size: 1.5em;
  color: #0fac0f;
}

.review {
  width: 100%;
}

.review .card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review .stars {
  margin-bottom: 15px;
}

.review .stars .material-icons {
  margin-right: -5px;
}

.review-name {
  font-weight: bold;
  font-size: 1.2em;
}
