/* Custom Stylesheet */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.hidden {
  display: none !important;
}

.avatar-img {
  width: 200px !important;
  height: 200px !important;
}

.blur {
  filter: blur(8px);
}

.social-img {
  display: inline-flex;
  align-items: center;
  color: white;
  margin-bottom: 10px;
}

.social-img img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.advrt-user-info {
  display: flex;
  margin-bottom: 50px;
}

.advrt-user-info-avatar {
  height: 65px;
  width: 65px;
  margin-right: 15px;
  border-radius: 50%;
}

.advrt-user-info-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advrt-user-info-data span:nth-child(3) {
  color: gray;
  font-size: 0.9em;
}

.advrt-content {
  display: flex;
}

.advrt-buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.feedback-loading {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.select-icon {
  left: 10px;
}
